@import "variables";

.marked {
    blockquote {
        background-color: #f6f7f8;
        padding: 10px 20px;
        border-left: 2px solid $main-color;
        margin: 0;
    }
    strong {
        color: #f05050;
    }
    ol {
        li {
            list-style-type: decimal;
            overflow: visible;
        }
    }
}