@import "variables";

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
    th {
        background-color: $main-color;
        color: #fff;
    }
    td, th {
        border: 1px solid $main-color;
        padding: 15px;
    }
}